@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    color: white;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

.container{
    display: flex;
    flex-direction: row;
}

.leftside{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-bottom: 1rem;

}

#signin form{
    width: 80%;
    padding-bottom: 2rem;
}

#signin .icon{
    margin-bottom: 2vh ;
    display: flex;
}
#signin .icon p{
    font-size: 1.5rem;
}
#signin .icon img{
    width: 70px;
}

#signin label{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2rem;
}

#signin .text-input{
    margin-bottom: 1rem;
    width: 100%;
    color: #ccc;
    background: #181818;
    border: white 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    line-height: 1rem;
}

#signin .primary-btn{
    width: 100%;
    background: #f96816;
    color: #fff;
    font-size: 0.8rem;
    /* line-height: 2rem; */
    padding: 0.7rem 1rem;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}
#signin .primary-btn:hover{
    background-color: #ff7b39;
}

#signin .links,.seconday-btn{
    width: 60%;
}
#signin .links a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
}


.footer-footer{
    color: #ccc;
    width: 80%;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 2rem;
}
.footer-footer a{
    text-decoration: none;
    color: #f96816;
}

.rightside{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    background: url(right.jpg) no-repeat center center / cover;
    height: 100vh;
}
.rightside h1{
    font-weight: 900;
    font-size: 3rem;
    width: 100%;
}

.secondary-btn{
    font-size: 0.9rem;
    width: 60%;
    padding: 0.5rem 1rem;
    border: 1px #aaa solid;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    background: none;
    color: #fff;
    transition: all 0.5s;
}
.secondary-btn:hover{
    border-color: #f96816;
    color: #ff7b39;

}


.rightside .secondary-btn{
    width: 80%;
}


@media(min-width: 1200){
    .leftside{
        flex: 4;
    }
    .rightside{
        flex: 6;
    }
}

@media(max-width:768px){
    body{
        overflow: auto;
    }
    .rightside{
        display: none;
    }
    .leftside{
        justify-content: start;
        margin-top: 4vh;
    }
}
